/* Général */ 

a { color: inherit !important; } 

/* Bouton de connexion */ 
.btn-connexion {
    border: solid 1px black !important;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
}

.btn-connexion:hover {
    background-color: #0d6efd;
    color: white !important;

}

.ul-droite {
    position: absolute;
    top: 50;
    right: 50px;
    margin: auto;
}

.ul-droite li {
    list-style-type: none;
}


/* Formulaire de connexion */

#formulaire-connexion{
    border: solid 1px black;
    border-radius: 15px;
    width: 650px;
    margin: auto;
    padding: 2rem;
}


/* Page Accueil Admin */

#bienvenue-admin{
    margin: auto;
    width: auto;
    text-align: center;
}