{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<body class="body-accueil">
		<style>
			.body-accueil {
				background-image: url("images/villa.jpg") !important;
			}
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>
		<div class="imagedefond">
			<h1>
				Bienvenue sur le site de notre agence immobilière Immo'Bill !<br/>
			</h1>
			<h4>Trouvez le bien qui vous fait rêver...</h4>

		</div>
	</body>

{% endblock %}
