{% extends 'base.html.twig' %}

{% block title %}
            {% endblock %}

{% block body %}
<div style="margin-top: 50px">
    <div class="d-flex justify-content-center" >
        
        <div style="width: 50%">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" formaction="">ENREGISTRER</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
